body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex-direction: column;
}
div {
    margin: 0;
}
.container {
    width: 752px;
    height: 752px;
    display: flex;
    flex-wrap: wrap;
}
button {
    border-radius: 15px;
    padding: 8px;
    color: white;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 20px;
}