body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex-direction: column;
    background-color: burlywood;
}
div {
    margin: 0;
    
}

.container {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    background-color: white;
}
button {
    border-radius: 15px;
    padding: 8px;
    color: white;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 20px;
}
